/* line 17, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
body {
  background: url("../images/bg.png");
  color: white;
  font: normal 12px/1.6 "Open Sans", Arial, sans-serif;
}

/* line 19, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
.horizontal {
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.horizontal:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
.horizontal li {
  display: inline;
  float: left;
}

/* line 26, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", Arial, sans-serif;
  line-height: 1.6;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0;
}

/* line 31, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
h2 {
  font-size: 1.7em;
}

/* line 34, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
a {
  color: #98c9ee;
}
/* line 36, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_base.sass */
a:hover, a:focus {
  color: white;
}

/* line 1, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.wrapper {
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  width: 94%;
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
section {
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
section .wrapper {
  margin-bottom: 40px;
}

/* line 13, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.row {
  display: block;
  width: 100%;
}

/* line 17, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.half, .third, .two-thirds, .fourth, .three-fourths, .fifth {
  display: inline;
  float: left;
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.half:after, .third:after, .two-thirds:after, .fourth:after, .three-fourths:after, .fifth:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.half {
  width: 50%;
}

/* line 25, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.third {
  width: 33%;
}

/* line 28, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.two-thirds {
  width: 67%;
}

/* line 31, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.fourth {
  width: 25%;
}

/* line 34, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.three-fourths {
  width: 75%;
}

/* line 37, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.fifth {
  width: 20%;
}

/* line 40, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.left {
  display: inline;
  float: left;
}

/* line 44, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.right {
  display: inline;
  float: right;
}

/* line 48, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_layout.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h1 {
  float: left;
  padding: 60px 0 42px;
  width: 35%;
}
/* line 7, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h1 a {
  display: block;
}
/* line 9, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h1 img {
  max-width: 330px;
  width: 100%;
}
/* line 12, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h2 {
  background: url("../images/tablemountain.png") no-repeat center top;
  float: right;
  font-family: Skranji, sans-serif;
  margin-top: 40px;
  padding: 40px 0 0;
  text-align: center;
  width: 329px;
}
/* line 20, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h2 span {
  display: block;
  font-size: 0.75em;
}
/* line 23, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h3 {
  clear: both;
  font: 1.9em "Patua One", sans-serif;
  margin-bottom: 12px;
  text-transform: uppercase;
}
/* line 30, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h2, header#header h3 {
  text-align: center;
}
/* line 32, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
header#header h2 span, header#header h3 span {
  color: #98c9ee;
}

/* line 35, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
nav#main {
  background: rgba(0, 0, 0, 0.2);
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
nav#main ul {
  float: left;
  *zoom: 1;
}
/* line 38, /Users/Detrimental/.rvm/gems/ruby-1.8.7-p299@siyelo/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav#main ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
nav#main li {
  display: inline;
}
/* line 43, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
nav#main li a {
  display: inline-block;
  font-size: 1.2em;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 49, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
nav#main li a:hover, nav#main li a:focus {
  background: rgba(0, 0, 0, 0.2);
}

/* line 52, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
.register-now {
  float: right;
  padding: 20px 0;
  text-decoration: none;
}
/* line 56, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
.register-now span {
  color: #c93131;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
/* line 62, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
.register-now:hover span, .register-now:focus span {
  color: #eb5353;
}

/* line 65, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_header.sass */
.conf img {
  border: 5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  max-width: 950px;
  width: 100%;
}

/* line 1, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
.heading {
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  color: #98c9ee;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 40px 0 7px;
  text-transform: uppercase;
}
/* line 9, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
.heading span {
  text-transform: none;
}

/* line 13, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
#speakers li {
  display: inline;
  float: left;
  margin: 0 1% 3em;
  text-align: center;
  width: 23%;
}
/* line 19, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
#speakers h2 {
  color: #98c9ee;
  white-space: nowrap;
}
/* line 22, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
#speakers img {
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}

/* line 31, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
#venue a {
  background: rgba(0, 0, 0, 0.07);
  display: inline-block;
  font: 1.2em "Patua One", Arial, sans-serif;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
/* line 38, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
#venue a:hover, #venue a:focus {
  background: rgba(0, 0, 0, 0.1);
}

/* line 41, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_content.sass */
.light {
  background: rgba(255, 255, 255, 0.03);
}

@media only screen and (min-width: 960px) {
  /* line 3, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  .wrapper {
    max-width: 960px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 9, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  .wrapper {
    max-width: 960px;
  }

  /* line 11, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  .heading {
    margin: 30px -3% 20px;
    padding: 7px 3%;
  }

  /* line 14, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  h2 {
    font-size: 1.6em;
  }

  /* line 18, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main li a {
    font-size: 1.1em;
    padding: 15px;
  }

  /* line 21, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  .register-now {
    padding: 15px 0;
  }

  /* line 25, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h1 {
    padding: 50px 0 0;
  }
  /* line 27, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h2 {
    margin-top: 30px;
  }
  /* line 29, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h3 {
    font-size: 2em;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 740px) {
  /* line 37, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  h2 {
    font-size: 1.5em;
  }

  /* line 40, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main {
    text-align: center;
  }
  /* line 42, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    float: none;
  }
  /* line 45, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main li a {
    padding: 10px;
  }
  /* line 47, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main .register-now {
    display: inline-block;
    float: none;
    padding: 10px 0 15px;
  }

  /* line 54, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h2, header#header h1 {
    display: block;
    float: none;
    width: auto;
  }
  /* line 58, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h1 {
    padding: 30px 0 0;
    text-align: center;
  }
  /* line 61, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h2 {
    margin-top: 10px;
  }
  /* line 63, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h3 {
    font-size: 1.75em;
    padding-top: 40px;
  }

  /* line 67, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  #speakers li {
    margin: 0 3% 2em;
    width: 27%;
  }
}
@media only screen and (max-width: 540px) {
  /* line 74, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  .wrapper {
    min-width: 300px;
  }

  /* line 77, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  #main_nav, .half, .third, .two-thirds, .fourth {
    clear: both;
    display: block;
    float: none;
    width: 100%;
  }

  /* line 83, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  h2 {
    font-size: 1.5em;
  }

  /* line 86, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main {
    text-align: center;
  }
  /* line 88, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main .wrapper {
    padding: 0;
    width: 100%;
  }
  /* line 91, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    float: none;
  }
  /* line 94, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main li a {
    padding: 10px 5px;
  }
  /* line 96, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  nav#main .register-now {
    display: inline-block;
    float: none;
    padding: 9px 0 12px;
  }

  /* line 102, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h1 {
    padding: 30px 0 0;
  }
  /* line 104, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h2 {
    margin-top: 0;
  }
  /* line 106, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  header#header h3 {
    font-size: 1.5em;
    padding-top: 30px;
  }

  /* line 110, /Users/Detrimental/apps/rubyfuza/src/stylesheets/partials/_queries.sass */
  #speakers li {
    margin: 0 5% 2em;
    width: 40%;
  }
}
