.heading
	//background: rgba(0, 0, 0, 0.1)
	//border-bottom: 2px solid rgba(0, 0, 0, 0.07)
	background: url("../images/border.png") repeat-x center
	color: $one
	font-size: 4em
	letter-spacing: 0.05em
	margin: 50px 0 20px
	padding: 7px 0
	text-align: center
	text-transform: uppercase
	+text-shadow(rgba(0, 0, 0, 0.3) 0 4px 0)
	span
		background: url("../images/bg.png")
		border-left: 1px solid rgba(255, 255, 255, 0.08)
		border-right: 1px solid rgba(255, 255, 255, 0.08)
		display: inline-block
		line-height: 1
		padding: 0 30px

#speakers
	li
		display: inline
		float: left
		margin: 0 1% 3em
		text-align: center
		width: 23%
	h2
		color: $one
		white-space: nowrap
	img
		border: 6px solid rgba(0, 0, 0, 0.1)
		width: 80%
		+border-radius(50%)
	.you img
		border-color: rgba(255, 255, 255, 0.1)
		
#sponsors
	h2
		background: rgba(0, 0, 0, 0.1)
		font-family: "Open Sans", arial
		margin: 0
		padding: 20px 0
		text-align: center
	ul
		margin-bottom: 20px
		+pie-clearfix
		a
			display: block
		img
			display: block
			margin-right: 20px
			width: 92%
	
#venue
	a
		background: rgba(0, 0, 0, 0.07)
		display: inline-block
		font: 1.2em "Patua One", Arial, sans-serif
		margin-top: 10px
		padding: 10px 20px
		text-decoration: none
		&:hover, &:focus
			background: rgba(0, 0, 0, 0.1)

.light
	background: rgba(0, 0, 0, 0.2)