
@media only screen and (min-width: 1300px)
  .wrapper
    max-width: 1050px !important
  #header
    h3
      font-size: 4.8em !important


@media only screen and (min-width: 960px)
  .wrapper
    max-width: 960px
  .rounded
    margin-left: 20px


@media only screen and (max-width: 960px)
  .wrapper
    max-width: 960px
    padding: 0 3%
    width: 94%
  .heading
    margin: 30px -3% 20px
    padding: 7px 3%
  h2
    font-size: 1.6em

  nav#main
    li a
      font-size: 1.1em
      padding: 15px
  .register-now
    padding: 15px 0

  header#header
    h1
      padding: 20px 0 0
    h2
      margin-top: 15px
    h3
      font-size: 3.3em
      padding-top: 80px
    .features
      margin-bottom: 50px
      p
        padding-right: 0
        span
          font-size: .9em
      li:last-child p
        font-size: .9em
        span
          font-size: .5em
    a.action
      display: block
      margin: 20px 0 20px 20%
      position: static
      width: 60%
      +rotate(0)

  #speakers li


  #sponsors
    .big-sponsor
      display: block
      margin-bottom: 40px
      p, a
        display: block
        padding-left: 0
        vertical-align: middle
        width: 100%
      p
        padding-right: 10px

@media only screen and (max-width: 740px)

  h2
    font-size: 1.5em

  nav#main
    text-align: center
    ul
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      float: none
    li a
      padding: 10px

  header#header

    h2, h1
      display: block
      float: none
      width: auto
    h1
      text-align: center
    h2
      background-image: none
      margin-top: 10px
      padding-right: 0
    h3
      font-size: 3.3em
      padding-top: 40px

  #schedule .half
    clear: both
    display: block
    float: none
    padding: 0
    width: auto
    li
      padding: 10px 0

  #speakers li
    margin: 0 3% 2em
    min-height: 260px
    width: 27%

  .fifth
    width: 25%

  #venue .wrapper > a
    margin-left: 0
    padding-left: 30px

  #features .third
    margin-bottom: 15px

  nav#main li#register
    display: inline-block
  nav#main .register-now
    display: none

@media only screen and (min-width: 540px) and (max-width: 740px)
  header#header .features
    p
      text-align: center
    li .left
      float: none
      width: 50%

@media only screen and (max-width: 540px)
  .wrapper
    min-width: 300px

  #main_nav, .half, .third, .two-thirds, .fourth
    clear: both
    display: block
    float: none
    width: 100%
  #schedule .half
    padding: 0

  h2
    font-size: 1.5em

  nav#main
    text-align: center
    .wrapper
      padding: 0
      width: 100%
    ul
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      float: none
    li a
      font-size: 12px
      padding: 10px 2px

  header#header
    h1
      padding: 10px 0 0
    h2
      margin-top: 0
    h3
      font-size: 2.5em
      padding-top: 30px
    a.action
      margin-left: 10%
      width: 80%

  #speakers
    li
      min-height: 0px
      border-top: 1px solid rgba(255, 255, 255, 0.1)
      height: auto
      margin: 0
      padding-top: 10px
      text-align: left
      width: 100%
      h2
        padding: .3em 0 0 20%
      .rounded
        border-width: 4px
        float: left
        margin-bottom: 8px
        width: 15%
      .github img
        right: 0
      .twitter img
        right: 9%
      h3, ul
        padding-left: 20%
      h3
        font-size: 18px
        margin-bottom: .5em
      p
        margin-bottom: 1.2em
        padding-left: 1em
      .detail
        display: none

    .wrapper > ul > li
      margin: 0 0 .1em

  .fifth
    width: 50%

  #sponsors .row
    span, .info
      display: none

  #blog article
    margin: 0
    padding: 0
    time
      display: block
      padding-bottom: 5px
      position: static
      span
        display: inline
        &.day, &.month, &.year
          font-weight: normal
          font-size: 14px

@media only screen and (max-width: 400px)
  nav#main li a
    font-size: 11px
  #speakers li
    min-height: 0px
    margin: 0 5% 2em
