%section#blog
  .wrapper
    %h1.heading
      %a{:name=>"blog"}
      %span Blog
    %ul
      %li.half
        %article
          %header
            %h2= link_to "Gearing up for 2014. Check out these Spring events", "http://blog.rubyfuza.org/2013/08/gearing-up-for-2014-check-out-these.html"
            %time
              %span.day 27
              %span.month Aug
              %span.year 2013
            %small by Marc Heiligers
          %p Wow, I can't believe it's been more than six months since Rubyfuza. And that means it's less than six months until the next one. Well, we've started planning and things will start coming together slowly over the next few weeks..
      %li.half
        %article
          %header
            %h2= link_to "Spreading the Rails Love", "http://blog.rubyfuza.org/2013/01/spreading-rails-love.html"
            %time
              %span.day 20
              %span.month Jan
              %span.year 2013
            %small by Marc Heiligers
          %p My wife asked me "What are you most excited about at this year's conference?" That's a really tough question for me to answer, but I think the thing that I'm most excited about are the RailsBridge workshops...
    = link_to "View all posts", "http://blog.rubyfuza.org/"