%section#venue
  .wrapper
    %h1.heading
      %a{:name=>"venue"}
      %span Venue
    %h2
      = link_to "Strand Tower Hotel", "http://strandtowerhotel.co.za"
    = img "../images/strand.png"
    .rounded.left
      %iframe{:class=>"left", :frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/?ie=UTF8&t=m&ll=-33.919503,18.420897&spn=0.029843,0.066047&z=16&output=embed", :width => "200"}
    %p Cape Town’s business centre is within easy walking distance from the Strand Tower Hotel.
    %p The city’s many major tourist attractions, such as Table Mountain, Robben Island and the V&A Waterfront, are also within easy access from the hotel. Other notable landmarks nearby include the Cape Town International Convention Centre, which is just 2 kilometers away, and the Green Point Stadium, which was constructed for the 2010 FIFA World Cup. The stadium, which is 3.5 kilometers from the hotel, is now home to many other major sports tournaments.
    = link_to "View Map", "https://maps.google.co.za/maps?saddr=Strand+Tower+Hotel,+Strand+Street,+Cape+Town+8000&hl=en&sll=-33.919503,18.420897&sspn=0.029843,0.066047&geocode=CbNWnrGmKv1fFVRr-v0dsBQZASmvPWa3ZmfMHTGiLy2FymD1pg&mra=mift&t=m&z=15", :target => 'rubyfuza_map'
    = link_to "Find accommodation", "mailto:info@rubyfuza.org?subject=Looking%20for%20accommodation", :class => 'more'
