%section#blog
  .wrapper
    %h1.heading
      %a{:name=>"blog"}
      %span Blog
    %ul
      %li.half
        %article
          %header
            %time
              %span.day 14
              %span.month Sep
              %span.year 2012
            %h2 @RubyFuza
            = link_to "Follow us", "#"
          %p If you were at RubyFuza, could you please take a few minutes and rate the talks and give speakers feedback? Thanks! speakerrate.com/events/1861-nordic-...
      %li.half
        %article
          %header
            %h2 RubyFuza mobile app
            %time
              %span.day 13
              %span.month Sep
              %span.year 2012
            %small by Marc Heiligers

          %p Founded in 2009 in Europe´s technology hub, Berlin, Wooga is the third largest social games developer in the world. Wooga's 190 employees from 35 nations...
    = link_to "View all posts"