%header#header
  = partial('../partials/nav')

  .wrapper
    %a{:name=>"about"}
    %h1
      %a{:href=>"/", :alt=>"Rubyfuza Home"}
        %img.logo{:src=>"../images/logo-gem.png"}
        = "ruby<span>fu</span>za <span>2015</span>"

    %h2
      5-6 February 2015
      %span Cape Town, South Africa

    %h3
      Africa's premier Ruby conference
      %span Great talks, great people and great parties!
    %a{:href=>"https://www.quicket.co.za/events/6934-rubyfuza-2015", :class=>"action"} Book Your Ticket Now!
    //%a{:href=>"#", :class=>"action2 right"} Book Your Ticket Now!

    .conf
      = img "../images/collage2015.png"

    %ul.features
      %li.third
        %p
          %img{:src=>"../images/icon1.png", :class=>"left"}
          %span 2 days, 20 speakers, single track
      %li.third
        %p
          %img{:src=>"../images/icon2.png", :class=>"left"}
          %span Evening functions / networking time
      %li.third
        %p
          %img{:src=>"../images/icon3.png", :class=>"left"}
          %span Workshops around the conference
      %li.full
        %p
          Early bird R900, Full price R1200
          %span * includes both days, snacks & workshop (seating limited)
