%section#links
  .wrapper
    %h1.heading
      %a{:name=>"links"}
      %span Links
    %ul.links
      %li.third
        %p
          %img{:src=>"../images/community.png", :class=>"left"}
          %span
            = link_to "Rubyfuza Community Website", "http://community.rubyfuza.org/"
      %li.third
        %p
          %img{:src=>"../images/meetup.png", :class=>"left"}
          %span
            = link_to "Meetup Workshops Group", "http://www.meetup.com/rubyfuza/"
      %li.third
        %p
          %img{:src=>"../images/video.png", :class=>"left"}
          %span
            = link_to "Past Videos on Youtube", "https://www.youtube.com/Rubyfuza"
