/ %section#schedule
/   .wrapper
/     %h1.heading
/       %span Schedule

/     .timeline
/       .half
/         %h2
/           Day One
/           %span Thursday, 5 February 2015
/         %ul
/           %li
/             %time 8:30
/             %p Registration

/           %li
/             %time 9:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 9:40
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 10:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 11:00
/             %p Break

/           %li
/             %time 11:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:30
/             %p Lightning Talks

/           %li
/             %time 13:00
/             %p Lunch

/           %li
/             %time 14:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 14:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:30
/             %p Break

/           %li
/             %time 16:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 16:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:30
/             %p Drinkup

/       .half
/         %h2
/           Day Two
/           %span Friday, 6 February 2015
/         %ul
/           %li
/             %time 9:00
/             %p Arrival

/           %li
/             %time 10:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Tania van Wyk Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 10:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 11:00
/             %p Break

/           %li
/             %time 11:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:30
/             %p Lightning Talks

/           %li
/             %time 13:00
/             %p Lunch

/           %li
/             %time 14:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 14:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Simon Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:30
/             %p Break

/           %li
/             %time 16:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 16:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:30
/             %p Leave for Dinner

/     .full
/       %h2
/         Download the
/         %a{:href=>"/downloads/Rubyfuza%202014%20Program%20Guide.pdf"} Program Guide
/         (pdf, 3.7MB)
