%section#schedule
  .wrapper
    %h1.heading
      %span Schedule
    .timeline
      .half
        %h2
          Day One
          %span Thursday, 5 February 2015
        %ul
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Welcome
          %li
            %a{href: '#speaker11', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/aaron.jpg"}/
                Aaron Patterson
                %span The Joy of Programming
          %li
            %a{href: '#speaker5', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/kenneth_kalmer.jpg"}/
                Kenneth Kalmer
                %span Shattered dreams & broken promises
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Break
          %li
            %a{href: '#speaker4', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/jackline_mutua.jpg"}/
                Jackline Mutua
                %span Yet Another Technical Intimidation Talk
          %li
            %a{href: '#speaker1', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/brendon_mclean.jpg"}/
                Brendon McLean
                %span Extending Ruby by harnessing other languages
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Lightning talks
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Lunch
          %li
            %a{href: '#speaker9', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/loren_segal.jpg"}/
                Loren Segal
                %span How not to rewrite your library: tips on stable APIs
          %li
            %a{href: '#speaker17', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/che_nxusani.jpg"}/
                Ché Nxusani
                %span I drank the Single Page App kool-aid
          %li
            %a{href: '#speaker16', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/theo_bohnen.jpg"}/
                Theo Bohnen
                %span Why I'm a polyglot and why you should care!
          %li
            %a{href: '#speaker13', class: 'fancybox'}
              %time TBA
              %p
                %strong Break
          %li
            %a{href: '#speaker13', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/grant_speelman.jpg"}/
                Grant Speelman
                %span The not so very Short Migration to Rails 3.0
          %li
            %a{href: '#speaker20', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/raymond_t_hightower.png"}/
                Ray Hightower
                %span Citizen Science With OpenROV
          %li
            %a{href: '#speaker19', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/steven_mcd.png"}/
                Steven McDonald
                %span Mentoring and being mentored - tips and tricks
      .half
        %h2
          Day Two
          %span Friday, 6 February 2015
        %ul
          %li
            %a{href: '#speaker10', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/charles_nutter.jpg"}/
                Charles Nutter
                %span Over 9000: JRuby in 2015
          %li
            %a{href: '#speaker3', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/garren_smith.jpg"}/
                Garren Smith
                %span Introducing Couchdb 2.0
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Break
          %li
            %a{href: '#speaker8', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/simon_stewart.jpg"}/
                Simon Stewart
                %span How to be an effective Freelancer by not learning from corporates
          %li
            %a{href: '#speaker2', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/chris_stefano.jpg"}/
                Chris Stefano
                %span Riveting Rails
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Lightning talks
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Lunch
          %li
            %a{href: '#speaker18', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/lydia_abel.jpg"}/
                Lydia Abel
                %span Rebranding the 3R’s: reading, reasoning and robotics
          %li
            %a{href: '#speaker14', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/simon_van_dyk.png"}/
                Simon van Dyk
                %span Diagnosing cancer with Machine Learning
          %li
            %a{href: '#speaker15', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/pawel_janiak.png"}/
                Pawel Janiak
                %span Should we care about accessibility?
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Break
          %li
            %a{href: '#speaker12', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/alyson_la.jpg"}/
                Alyson La
                %span How I got started in Ruby & Rails after a RailsBridge Workshop
          %li
            %a{href: '#speaker6', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/mandla_magagula.jpg"}/
                Mandla Magagula
                %span Fixing the future of programming
          %li
            %a{href: '#speaker7', class: 'fancybox'}
              %time TBA
              %p.speaker
                %img{:src => "../images/speakers/2015/marc_heiligers.jpg"}/
                Marc Heiligers
                %span Sweet Ruby
          %li
            %a{href: 'javascript:void(0);'}
              %time TBA
              %p
                %strong Closing

/ %section#schedule
/   .wrapper
/     %h1.heading
/       %span Schedule

/     .timeline
/       .half
/         %h2
/           Day One
/           %span Thursday, 5 February 2015
/         %ul
/           %li
/             %time 8:30
/             %p Registration

/           %li
/             %time 9:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 9:40
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 10:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 11:00
/             %p Break

/           %li
/             %time 11:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:30
/             %p Lightning Talks

/           %li
/             %time 13:00
/             %p Lunch

/           %li
/             %time 14:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 14:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:30
/             %p Break

/           %li
/             %time 16:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 16:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:30
/             %p Drinkup

/       .half
/         %h2
/           Day Two
/           %span Friday, 6 February 2015
/         %ul
/           %li
/             %time 9:00
/             %p Arrival

/           %li
/             %time 10:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Tania van Wyk Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 10:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 11:00
/             %p Break

/           %li
/             %time 11:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 12:30
/             %p Lightning Talks

/           %li
/             %time 13:00
/             %p Lunch

/           %li
/             %time 14:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 14:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Simon Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 15:30
/             %p Break

/           %li
/             %time 16:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 16:30
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               / %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:00
/             %p.speaker
/               = img "../images/speakers/name.png"
/               Speakers name
/               %a{:href=>"https://twitter.com/twitterhandle"} @twitterhandle
/               %span Talk name.

/           %li
/             %time 17:30
/             %p Leave for Dinner

/     .full
/       %h2
/         Download the
/         %a{:href=>"/downloads/Rubyfuza%202014%20Program%20Guide.pdf"} Program Guide
/         (pdf, 3.7MB)
