%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          %a{href: 'https://rubyfuza.wufoo.com/forms/rubyfuza-2015-talk-proposal/', rel: 'speaker_image', class: 'fancybox'}
            = img "../images/speakers/you.png"
          %a{:href=>"https://twitter.com/rubyfuza", :class=>"twitter"}= img "../images/twitter.png"
          %a{:href=>"https://github.com/siyelo/rubyfuza", :class=>"github"}= img "../images/github.png"
        %h2
          %a{href: 'https://rubyfuza.wufoo.com/forms/rubyfuza-2015-talk-proposal/', rel: 'speakers', class: 'fancybox'} You?
        %p We're looking for speakers

    %div.clearfix
    = partial('../partials/signup')
