%section#sponsors
	.wrapper
		%h1.heading
			%a{:name=>"sponsors"}
			%span Sponsors

		%ul.sponsors-list
			%li.sixth
			%li.third
				%a{:href=>"#hetzner", :class=>"info fancybox", rel: 'sponsors', :title=>"Hetzner, Trusted in Hosting"}
					%img{:src=>"../images/logos/hetzner.png"}
				.row
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za
					/ %span &#9679;
					/ %a{:href=>"#hetzner", :class=>"info fancybox", rel: 'sponsors'} info
				%small Ruby-level sponsor

				#hetzner.detail
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"}
						%img{:src=>"../images/logos/hetzner2.png", :class=>"square"}
					%p At Hetzner South Africa we are passionate about web hosting – it’s our core business and it’s what we do best. By consistently delivering excellent service and cost effective web hosting, dedicated servers and custom hosting solutions, Hetzner has exponentially grown its market share, making it the leading web hosting company in South Africa. Inspired by our brand promise ‘Trusted in Hosting’, we focus on providing efficient, sustainable business models, quality service and customer satisfaction. A key contributor to our success is our people. We aim for our teams to manage themselves rather than rely on several layers of hierarchy. We want to give our people the freedom to explore, innovate and create. We recognise that our customers expect reliability and good value from us and it remains our ongoing commitment to earn and retain their trust.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.hetzner.co.za", :target=>"_blank", :title=>"Hetzner, Trusted in Hosting"} hetzner.co.za

			%li.third
				%a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors', :title=>"Mad Mimi"}
					%img{:src=>"../images/logos/madmimi.png"}
				.row
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com
					/ %span &#9679;
					/ %a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors'} info
				%small Ruby-level sponsor

				#madmimi.detail
					%a{:href=>"https://www.madmimi.com"}
						%img{:src=>"../images/logos/madmimi2.png", :class=>"square"}
					%p Mad Mimi is a simple, intelligent and powerful email marketing utility that anyone can use. Mad Mimi makes email marketing easy for the creator, and easier on the eyes for the receiver. With ground-breaking technology, Mad Mimi is the simplest way to create branded, well-designed newsletters and promotions. Sign up free today and get started with simple, lovely email marketing.
					%span.right Ruby-level sponsor
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com

		/ 	%li.third
		/ 		%a{:href=>"#platform45", :class=>"info fancybox", rel: 'sponsors', :title=>"Platform45"}
		/ 			%img{:src=>"../images/logos/platform45.png"}
		/ 		.row
		/ 			%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#platform45", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Ruby-level sponsor

		/ 		#platform45.detail
		/ 			%a{:href=>"http://platform45.com", :target=>"_blank", :title=>"Platform45"}
		/ 				%img{:src=>"../images/logos/platform452.png", :class=>"square"}
		/ 			%p At Platform45 we believe software is essential to the advancement of human potential. All businesses will, if they haven't already, become software businesses.
		/ 			%p
		/ 				We work with our clients to
		/ 				%strong create custom web and mobile software
		/ 				that allows them to automate, innovate and ultimately engineer a better business.
		/ 			%span.right Ruby-level sponsor
		/ 			%a{:href=>"http://www.platform45.com", :target=>"_blank", :title=>"Platform45"} platform45.com


		/ %ul.sponsors-list
		/ 	%li.third
		/ 		%a{:href=>"#amazon", :class=>"info fancybox", rel: 'sponsors', :title=>"Amazon Web Services"}
		/ 			%img{:src=>"../images/logos/amazon.png"}
		/ 		.row
		/ 			%a{:href=>"http://bit.ly/awsrubyfuza", :target=>"_blank", :title=>"Amazon Web Services"} aws.amazon.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#amazon", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small AWS Workshop and RailsBridge sponsor

		/ 		#amazon.detail
		/ 			%a{:href=>"http://bit.ly/awsrubyfuza"}
		/ 				%img{:src=>"../images/logos/amazon2.png", :class=>"square"}
		/ 			%p In 2006, Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business. With the Cloud, businesses no longer need to plan for and procure servers and other IT infrastructure weeks or months in advance. Instead, they can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. Today, Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers hundreds of thousands of businesses in 190 countries around the world.
		/ 			%p
		/ 				We have
		/ 				%a{:href=>'http://bit.ly/awscareers-rubyf'} open roles available in Cape Town
		/ 				for:
		/ 			%ul.list
		/ 				%li Senior Software Development Managers
		/ 				%li Senior Product Manager
		/ 				%li Software Developers
		/ 				%li Web Development Engineers
		/ 				%li Systems Engineers
		/ 				%li Security Engineers
		/ 				%li Cloud Support Engineers – Linux
		/ 			%p
		/ 				If you have a background in Computer Science and are passionate about cloud computing, send your CV to
		/ 				%a{:href => 'mailto:rubyfuza@amazon.com'} rubyfuza@amazon.com
		/ 			%span.right AWS Workshop and RailsBridge sponsor
		/ 			%a{:href=>"http://bit.ly/awsrubyfuza", :target=>"_blank", :title=>"Amazon Web Services"} aws.amazon.com

		/ 	%li.third
		/ 		%a{:href=>"#thoughtworks", :class=>"info fancybox", rel: 'sponsors', :title=>"ThoughtWorks"}
		/ 			%img{:src=>"../images/logos/thoughtworks.png"}
		/ 		.row
		/ 			%a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#thoughtworks", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Sapphire-level and RailsBridge sponsor

		/ 		#thoughtworks.detail
		/ 			%a{:href=>"https://www.thoughtworks.com"}
		/ 				%img{:src=>"../images/logos/thoughtworks2.png", :class=>"square"}
		/ 			%p ThoughtWorks is a company wholly devoted to the art and science of custom software. We make it, and we make our clients better at it. Our bottom line is to design and deliver software fast and predictably. But we’re also an amazing collection of humans, hired for our passion, integrity and special powers. The company was founded as a social experiment – what happens when you hire really smart, passionate people and set them loose on really tough problems? 19 years on, this collection of people has helped shape the IT industry. The problem we set ourselves now is to use software to improve humanity - becoming a role model for 21st century socially responsible companies.
		/ 			%span.right Sapphire-level and RailsBridge sponsor
		/ 			%a{:href=>"http://www.thoughtworks.com", :target=>"_blank", :title=>"ThoughtWorks"} thoughtworks.com

		/ 	%li.third
		/ 		%a{:href=>"#mpowered", :class=>"info fancybox", rel: 'sponsors', :title=>"Mpowered"}
		/ 			%img{:src=>"../images/logos/mpowered.png"}
		/ 		.row
		/ 			%a{:href=>"http://www.mpowered.co.za", :target=>"_blank", :title=>"mpowered"} mpowered.co.za
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#mpowered", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Sapphire-level sponsor

		/ 		#mpowered.detail
		/ 			%a{:href=>"https://www.mpowered.co.za"}
		/ 				%img{:src=>"../images/logos/mpowered2.png", :class=>"square"}
		/ 			%p A business consultancy turned software house.
		/ 			%p What may seem a strange transition was a rather natural evolution that has spanned the last 8 years. Mpowered started as a BEE consulting service. A few years in, we began development on a scorecard calculation tool that grew to become our flagship software product. At the time we had little idea that inside of four years our business would fundamentally shift from selling consulting to selling software.
		/ 			%p Today we develop web apps that help businesses track, measure and plan BEE compliance. We also enjoy exploring associated domains and other ideas that resonate with our techy hearts :)
		/ 			%span.right Sapphire-level sponsor
		/ 			%a{:href=>"http://www.mpowered.co.za", :target=>"_blank", :title=>"mpowered"} mpowered.co.za

		/ / %ul.sponsors-list
		/ /		%li.fourth
		/ /			%a{:href=>"#"}
		/ /				%img{:src=>"../images/logo.png"}
		/ /		%li.fourth
		/ /			%a{:href=>"#"}
		/ /				%img{:src=>"../images/logo.png"}
		/ /		%li.fourth
		/ /			%a{:href=>"#"}
		/ /				%img{:src=>"../images/logo.png"}
		/ /		%li.fourth
		/ /			%a{:href=>"#"}
		/ /				%img{:src=>"../images/logo.png"}

		/ %ul.sponsors-list
		/ 	%li.fourth
		/ 		%a{:href=>"#unboxedconsulting", :class=>"info fancybox", rel: 'sponsors', :title=>"Unboxed Consulting"}
		/ 			%img{:src=>"../images/logos/unboxedconsulting.png"}
		/ 		.row
		/ 			%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#unboxedconsulting", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Emerald-level sponsor

		/ 		#unboxedconsulting.detail
		/ 			%a{:href=>"http://unboxedconsulting.com"}
		/ 				%img{:src=>"../images/logos/unboxedconsulting2.png", :class=>"square"}
		/ 			%p Unboxed Consulting build innovative and robust applications. We have a solid and well-honed development process that we are very proud of. Our first love is Ruby on Rails but we like to play the field as well. Based in Cape Town and London we work with large ambitious clients and also inspiring startups in both South Africa and the UK.
		/ 			%span.right Emerald-level sponsor
		/ 			%a{:href=>"http://unboxedconsulting.com", :target=>"_blank", :title=>"Unboxed Consulting"} unboxedconsulting.com

		/ 	%li.fourth
		/ 		%a{:href=>"#heroku", :class=>"info fancybox", rel: 'sponsors', :title=>"Heroku"}
		/ 			%img{:src=>"../images/logos/heroku.png"}
		/ 		.row
		/ 			%a{:href=>"http://heroku.com", :target=>"_blank", :title=>"Heroku"} heroku.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#heroku", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Emerald-level sponsor

		/ 		#heroku.detail
		/ 			%a{:href=>"http://heroku.com"}
		/ 				%img{:src=>"../images/logos/heroku2.png", :class=>"square"}
		/ 			%p Heroku’s platform as a service allows your organization to build faster, deploy instantly and scale on demand without managing servers. Gain the flexibility to deploy any language any time and to any scale. Maintain control by isolating, running and monitoring independent processes. Heroku makes it effortless.
		/ 			%span.right Emerald-level sponsor
		/ 			%a{:href=>"http://heroku.com", :target=>"_blank", :title=>"Heroku"} heroku.com

		/ 	%li.fourth
		/ 		%a{:href=>"#basho", :class=>"info fancybox", rel: 'sponsors', :target=>"_blank", :title=>"Basho"}
		/ 			%img{:src=>"../images/logos/basho.png"}
		/ 		.row
		/ 			%a{:href=>"http://basho.com", :target=>"_blank", :title=>"Basho"} basho.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#basho", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Emerald-level sponsor

		/ 		#basho.detail
		/ 			%a{:href=>"http://basho.com"}
		/ 				%img{:src=>"../images/logos/basho2.png", :class=>"square"}
		/ 			%p Basho Technologies is the leader in distributed systems.
		/ 			%p Basho's flagship software is Riak, an open source, distributed database used in production by 1000s of companies like Mad Mimi, Praekelt, Yammer, GitHub, and BestBuy. Riak is made to scale out (and in) with applications, be highly-available, and simplify operations at scale for developers and ops professionals.
		/ 			%span.right Emerald-level sponsor
		/ 			%a{:href=>"http://basho.com", :target=>"_blank", :title=>"Basho"} basho.com

		/ 	%li.fourth
		/ 		%a{:href=>"#shuntyard", :class=>"info fancybox", rel: 'sponsors', :target=>"_blank", :title=>"Shuntyard Techologies"}
		/ 			%img{:src=>"../images/logos/shuntyard.png"}
		/ 		.row
		/ 			%a{:href=>"http://shuntyard.co.za", :target=>"_blank", :title=>"Shuntyard Techologies"} shuntyard.co.za
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#shuntyard", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Emerald-level sponsor

		/ 		#shuntyard.detail
		/ 			%a{:href=>"http://shuntyard.co.za"}
		/ 				%img{:src=>"../images/logos/shuntyard2.png", :class=>"square"}
		/ 			%p Shuntyard Technologies specialises in web based systems using Ruby on Rails and related technologies. We are an innovative team with a proven track record in new development and the rescue of legacy systems. We love what we do and it shows in our work. We are based in Cape Town with clients as far afield as Brazil, China, Australia and New Zealand.
		/ 			%span.right Emerald-level sponsor
		/ 			%a{:href=>"http://shuntyard.co.za", :target=>"_blank", :title=>"Shuntyard Techologies"} shuntyard.co.za

		/ %ul.sponsors-list
		/ 	%li.eighth

		/ 	%li.fourth
		/ 		%a{:href=>"#africanstay", :class=>"info fancybox", rel: 'sponsors', :title=>"African Stay"}
		/ 			%img{:src=>"../images/logos/africanstay.png"}
		/ 		.row
		/ 			%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#africanstay", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Conference organization

		/ 		#africanstay.detail
		/ 			%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"}
		/ 				%img{:src=>"../images/logos/africanstay2.png", :class=>"square"}
		/ 			%p African Stay is a reputable and reliable reservations company that arranges your accommodation in luxurious safari lodges, camps and exclusive hotels throughout Southern Africa.The accommodation we represent all offer unique facilities. Most especially, you will enjoy rare splendour and superb hospitality to make your visit unforgettable.
		/ 			%span.right Conference organization sponsor
		/ 			%a{:href=>"http://www.africanstay.co.za", :target=>"_blank", :title=>"African Stay"} africanstay.co.za

		/ 	%li.fourth
		/ 		%a{:href=>"#siyelo", :class=>"info fancybox", rel: 'sponsors', :title=>"Siyelo Software"}
		/ 			%img{:src=>"../images/logos/siyelo.png"}
		/ 		.row
		/ 			%a{:href=>"http://www.siyelo.com", :target=>"_blank", :title=>"Siyelo Software"} siyelo.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#siyelo", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small The Website

		/ 		#siyelo.detail
		/ 			%a{:href=>"http://siyelo.com"}
		/ 				%img{:src=>"../images/logos/siyelo2.png", :class=>"square"}
		/ 			%p Siyelo designs and develops bespoke web applications. We turn ideas into elegant applications through skill and a process that emphasizes collaboration and continuous refinement. Our team delivers profitable and enjoyable user experiences. We love our work and so will you.
		/ 			%span.right The Website
		/ 			%a{:href=>"http://www.siyelo.com", :target=>"_blank", :title=>"Siyelo Software"} siyelo.com

		/ 	%li.fourth
		/ 		%a{:href=>"#github", :class=>"info fancybox", rel: 'sponsors', :title=>"Github"}
		/ 			%img{:src=>"../images/logos/github.png"}
		/ 		.row
		/ 			%a{:href=>"https://www.github.com", :target=>"_blank", :title=>"Github"} github.com
		/ 			/ %span &#9679;
		/ 			/ %a{:href=>"#github", :class=>"info fancybox", rel: 'sponsors'} info
		/ 		%small Drinkup sponsor

		/ 		#github.detail
		/ 			%a{:href=>"http://github.com"}
		/ 				%img{:src=>"../images/logos/github2.png", :class=>"square"}
		/ 			%p GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing things together.
		/ 			%p With the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.
		/ 			%p Originally founded by Tom Preston-Werner, Chris Wanstrath, and PJ Hyett to simplify sharing code, GitHub has grown into the largest code host in the world.
		/ 			%span.right Drinkup sponsor
		/ 			%a{:href=>"http://www.github.com", :target=>"_blank", :title=>"Github"} github.com

		%h2.highlight
			Interested in sponsoring this event?
			Check out the
			%a{:href=>"/downloads/Rubyfuza%202014%20Sponsorship%20Prospectus.pdf"} prospectus
			and drop us an
			= "#{link_to 'e-mail', 'mailto:sponsor@rubyfuza.org'}. Last year's #{link_to 'sponsors', '/2013#sponsors'}."


