%section#sponsors
  .wrapper
    %h1.heading
      %span Sponsors
    
    .big-sponsor
      %a{:href=>"#"}
        %img{:src=>"../images/logo.png"}
      %p
        Founded in 2009 in Europe´s technology hub, Berlin, Wooga is the third largest social games developer in the world. Wooga's 190 employees from 35 nations create high quality games for Facebook and iOS, with a specific focus on emotional character development, usability, and superb localization in seven languages. Wooga is committed to creating innovative and original game titles for players of all ages, bringing millions of users around the world together through a world of gaming.

    %ul
      %li.third
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.third
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.third
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
          
    %ul
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
          
    %h2.sponsor
      Interested in sponsoring this event? Drop us an 
      %a{:href=>"mailto:info@rugyfuza.org"} e-mail