%section#sponsors
  .wrapper
    %h1.heading
      %a{:name=>"sponsors"}
      %span Sponsors

    .big-sponsor
      %a{:href=>"#"}
        %img{:src=>"../images/logo.png"}
      %p
        %strong Why sponsor Rubyfuza?
        No conference can exist without sponsorship from its industry, and Rubyfuza is no different. Sponsorship will be needed to keep costs for the our delegates low, and to make South Africa's Rubyfuza an outstanding, worthwhile event. (Keep in mind, Rubyfuza is a not-for-profit event!)
    %ul
      %li.third
        %a{:href=>"https://www.madmimi.com"}
          %img{:src=>"../images/sponsors/madmimi.png"}
      %li.third
        %a{:href=>"http://platform45.com"}
          %img{:src=>"../images/sponsors/platform45.png"}
      %li.third
        %a{:href=>"http://hetzner.co.za"}
          %img{:src=>"../images/sponsors/hetzner.png"}

    %ul
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.fourth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}

    %ul
      %li.eighth
        %a{:href=>"http://www.africanstay.co.za"}
          %img{:src=>"../images/sponsors/africanstay.gif"}
      %li.eighth
        %a{:href=>"http://siyelo.com"}
          %img{:src=>"../images/sponsors/siyelo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}
      %li.eighth
        %a{:href=>"#"}
          %img{:src=>"../images/logo.png"}

    %h2.sponsor
      Interested in sponsoring this event?
      Check out the
      %a{:href=>"../downloads/sponsors.pdf"} prospectus
      and drop us an
      %a{:href=>"mailto:sponsors@rubyfuza.org"} e-mail