.wrapper
  %a{:name=>"about"}
  %h1
    %a{:href=>"/", :alt=>"Rubyfuza Home"}
      %img.logo{:src=>"../images/logo-gem.png"}
      = "ruby<span>fu</span>za <span>2014</span>"
  %h2
    6-8 February 2014
    %span Cape Town, South Africa
