%section#venue
  .wrapper
    %h1.heading
      %a{:name=>"venue"}
      %span Venue
    %h2
      = link_to "Cape Town", "http://www.lagoonbeachhotel.co.za/"
    = img "../images/cape_town_lagoon_beach.png"
    .map.left
      %iframe{:class=>"left", :frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/?ie=UTF8&t=m&ll=-33.533148,18.285972&spn=0.029843,0.066047&z=16&output=embed", :width => "200"}
    %p Lagoon beach hotel, Cape town.
    %p Lagoon Beach Hotel in Cape Town is where it all comes together beautifully. Situated on Lagoon Beach, it is the only hotel in Cape Town with direct beach access! The city’s many major tourist attractions, such as Table Mountain, Robben Island and the V&A Waterfront, are also within easy access from the hotel. Other notable landmarks nearby include the Cape Town International Convention Centre, and the Green Point Stadium, which was constructed for the 2010 FIFA World Cup. The stadium is now home to many other major sports tournaments.
    = link_to "View Map", "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Lagoon+Beach+Hotel,+Marine+Drive,+Cape+Town,+Western+Cape,+South+Africa&aq=0&oq=Lagoon+Beach+Hotel&sll=37.0625,-95.677068&sspn=39.592876,92.285156&ie=UTF8&hq=Lagoon+Beach+Hotel,+Marine+Drive,+Cape+Town,+Western+Cape,+South+Africa&t=m&cid=9361034554452866999&hnear=&ll=-33.879965,18.490763&spn=0.036626,0.051413&z=14&iwloc=A", :target => 'rubyfuza_map'
    = link_to "Find accommodation", "mailto:info@rubyfuza.org?subject=Looking%20for%20accommodation", :class => 'more'
