%section#venue
  .wrapper
    %h1.heading
      %a{:name=>"venue"}
      %span Venue
    %h2
      = link_to "Cape Town", "https://www.capetown.gov.za/en/Pages/default.aspx"
    = img "../images/cape_town.png"
    .rounded.left
      %iframe{:class=>"left", :frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/?ie=UTF8&t=m&ll=-33.919503,18.420897&spn=0.029843,0.066047&z=16&output=embed", :width => "200"}
    %p Cape town, Technological hub of Southern Africa.
    %p We are currently looking for a new venue to accommodate the ever growing Rubyfuza event! The city’s many major tourist attractions, such as Table Mountain, Robben Island and the V&A Waterfront, are also within easy access from the hotel. Other notable landmarks nearby include the Cape Town International Convention Centre, and the Green Point Stadium, which was constructed for the 2010 FIFA World Cup. The stadium is now home to many other major sports tournaments.
    = link_to "View Map", "https://www.google.co.za/maps/place/Cape+Town/@-33.9149861,18.6560594,9z/data=!3m1!4b1!4m2!3m1!1s0x1dcc500f8826eed7:0x687fe1fc2828aa87?hl=en", :target => 'rubyfuza_map'
    = link_to "Find accommodation", "mailto:info@rubyfuza.org?subject=Looking%20for%20accommodation", :class => 'more'
